<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js
  AddType application/json .json
  AddType font/woff2 .woff2
  AddType image/svg+xml .svg
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.html
</IfModule>
